<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.abdoul.highway2helpf">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginAidant"
            android:label="@string/title_activity_login_aidant"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginPatient"
            android:label="@string/title_activity_login_patient"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RegisterAidantActivity"
            android:label="@string/title_activity_register_aidant"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RegisterPatientActivity"
            android:label="@string/title_activity_register_patient"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MenuActivity"
            android:label="@string/title_activity_menu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HomeAidantActivity"
            android:label="@string/title_activity_home_aidant"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HomePatient"
            android:label="@string/title_activity_home_patient"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ID3.DecisionTree"
            android:label="@string/title_activity_decision_tree"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Detentes"
            android:label="@string/title_activity_detentes"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Capteurs"
            android:label="@string/title_activity_capteurs"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Sensor"
            android:label="@string/title_activity_sensor"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>